{
  "openapi": "3.1.0",
  "info": {
    "title": "Soundpiece API",
    "description": "API for AI-powered music generation, MIDI creation, vocal/instrumental separation, TTS, remixing, key/BPM detection, metadata extraction, and audio analytics.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.soundpiece.co"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/create.new_instrumental": {
      "put": {
        "tags": [
          "Create"
        ],
        "summary": "create.new_instrumental",
        "operationId": "create.new_instrumental",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNewInstrumentalRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateNewInstrumentalResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/create.new_song": {
      "put": {
        "tags": [
          "Create"
        ],
        "summary": "create.new_song",
        "operationId": "create.new_song",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNewSongRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateNewSongResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/create.new_sample": {
      "put": {
        "tags": [
          "Create"
        ],
        "summary": "create.new_sample",
        "operationId": "create.new_sample",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNewSampleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateNewSampleResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/create.new_fx": {
      "put": {
        "tags": [
          "Create"
        ],
        "summary": "create.new_fx",
        "operationId": "create.new_fx",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNewFxRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateNewFxResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/create.new_midi_song": {
      "put": {
        "tags": [
          "Create"
        ],
        "summary": "create.new_midi_song",
        "operationId": "create.new_midi_song",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNewMidiSongRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateNewMidiSongResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/create.new_melody": {
      "put": {
        "tags": [
          "Create"
        ],
        "summary": "create.new_melody",
        "operationId": "create.new_melody",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNewMelodyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateNewMelodyResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/adapt.separate_stems": {
      "put": {
        "tags": [
          "Adapt"
        ],
        "summary": "adapt.separate_stems",
        "operationId": "adapt.separate_stems",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdaptSeparateStemsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdaptSeparateStemsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/adapt.add_voice_over": {
      "put": {
        "tags": [
          "Adapt"
        ],
        "summary": "adapt.add_voice_over",
        "operationId": "adapt.add_voice_over",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdaptAddVoiceOverRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdaptAddVoiceOverResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/adapt.cut_down": {
      "put": {
        "tags": [
          "Adapt"
        ],
        "summary": "adapt.cut_down",
        "operationId": "adapt.cut_down",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdaptCutDownRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdaptCutDownResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/adapt.auto_cut_down": {
      "put": {
        "tags": [
          "Adapt"
        ],
        "summary": "adapt.auto_cut_down",
        "operationId": "adapt.auto_cut_down",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdaptAutoCutDownRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdaptAutoCutDownResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/analyse.compute_keyword_similarities": {
      "put": {
        "tags": [
          "Analyse"
        ],
        "summary": "analyse.compute_keyword_similarities",
        "operationId": "analyse.compute_keyword_similarities",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyseComputeKeywordSimilaritiesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyseComputeKeywordSimilaritiesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/analyse.compute_metadata": {
      "put": {
        "tags": [
          "Analyse"
        ],
        "summary": "analyse.compute_metadata",
        "operationId": "analyse.compute_metadata",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyseComputeMetadataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyseComputeMetadataResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/assets.download_audio": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "assets.download_audio",
        "operationId": "assets.download_audio",
        "parameters": [
          {
            "name": "asset_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "The asset ID to download"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "mp3",
                "wav"
              ],
              "type": "string",
              "title": "The format to download the asset in",
              "default": "mp3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {

                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/assets.upload_audio": {
      "put": {
        "tags": [
          "Assets"
        ],
        "summary": "assets.upload_audio",
        "operationId": "assets.upload_audio",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_assets.upload_audio"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetsUploadAudioResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/computations.get_computation": {
      "get": {
        "tags": [
          "Computations"
        ],
        "summary": "computations.get_computation",
        "operationId": "computations.get_computation",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Id"
            }
          },
          {
            "name": "wait",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "title": "Whether to wait for up to 20s for the computation to finish. Allows long polling",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComputationsGetComputationResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AssetSource": {
        "properties": {
          "asset_id": {
            "type": "string",
            "format": "uuid",
            "title": "The ID of an asset in the system"
          }
        },
        "type": "object",
        "required": [
          "asset_id"
        ],
        "title": "AssetSource"
      },
      "AudioComputation": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "The ID of the computation"
          },
          "status": {
            "type": "string",
            "enum": [
              "generating",
              "generated"
            ],
            "title": "The status of the computation"
          },
          "asset_ids": {
            "anyOf": [
              {
                "items": {
                  "type": "string",
                  "format": "uuid"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "The IDs of the assets generated by this computation"
          }
        },
        "type": "object",
        "required": [
          "id",
          "status"
        ],
        "title": "AudioComputation"
      },
      "AudioMetadataComputation": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "The ID of the computation"
          },
          "status": {
            "type": "string",
            "enum": [
              "generating",
              "generated"
            ],
            "title": "The status of the computation"
          },
          "metadata": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AudioMetadata"
              },
              {
                "type": "null"
              }
            ],
            "title": "The computed audio metadata"
          }
        },
        "type": "object",
        "required": [
          "id",
          "status"
        ],
        "title": "AudioMetadataComputation"
      },
      "AudioMetadata": {
        "properties": {
          "genres": {
            "additionalProperties": {
              "type": "number"
            },
            "type": "object",
            "title": "Genres"
          },
          "moods": {
            "additionalProperties": {
              "type": "number"
            },
            "type": "object",
            "title": "Moods"
          },
          "mood_themes": {
            "additionalProperties": {
              "type": "number"
            },
            "type": "object",
            "title": "Mood Themes"
          },
          "instruments": {
            "additionalProperties": {
              "type": "number"
            },
            "type": "object",
            "title": "Instruments"
          },
          "tempo": {
            "type": "number",
            "title": "Tempo"
          },
          "key": {
            "type": "string",
            "title": "Key"
          }
        },
        "type": "object",
        "required": [
          "genres",
          "moods",
          "mood_themes",
          "instruments",
          "tempo",
          "key"
        ],
        "title": "AudioMetadata"
      },
      "AudioSource": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/AssetSource"
          },
          {
            "$ref": "#/components/schemas/UrlSource"
          }
        ],
        "title": "AudioSource"
      },
      "Callback": {
        "properties": {
          "url": {
            "type": "string",
            "maxLength": 255,
            "minLength": 1,
            "format": "uri",
            "title": "The url that will be called when the computation is complete"
          },
          "context": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "A context dictionary that will be passed unchanged to the callback url"
          }
        },
        "type": "object",
        "required": [
          "url"
        ],
        "title": "Callback"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "KeywordSimilaritiesComputation": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "The ID of the computation"
          },
          "status": {
            "type": "string",
            "enum": [
              "generating",
              "generated"
            ],
            "title": "The status of the computation"
          },
          "similarities": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/KeywordSimilarities"
              },
              {
                "type": "null"
              }
            ],
            "title": "The computed keyword similarities"
          }
        },
        "type": "object",
        "required": [
          "id",
          "status"
        ],
        "title": "KeywordSimilaritiesComputation"
      },
      "KeywordSimilarities": {
        "properties": {
          "keywords": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Keywords"
          },
          "comparison_type": {
            "type": "string",
            "title": "Comparison Type"
          },
          "values": {
            "additionalProperties": {
              "type": "number"
            },
            "type": "object",
            "title": "Values"
          }
        },
        "type": "object",
        "required": [
          "keywords",
          "comparison_type",
          "values"
        ],
        "title": "KeywordSimilarities"
      },
      "LevelAutomationPoint": {
        "properties": {
          "time": {
            "type": "number",
            "title": "Time"
          },
          "db": {
            "type": "number",
            "title": "Db"
          }
        },
        "type": "object",
        "required": [
          "time",
          "db"
        ],
        "title": "LevelAutomationPoint"
      },
      "MidiComputation": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "The ID of the computation"
          },
          "status": {
            "type": "string",
            "enum": [
              "generating",
              "generated"
            ],
            "title": "The status of the computation"
          },
          "raw_midi": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "The midi data generated by this computation"
          }
        },
        "type": "object",
        "required": [
          "id",
          "status"
        ],
        "title": "MidiComputation"
      },
      "UrlSource": {
        "properties": {
          "url": {
            "type": "string",
            "maxLength": 255,
            "minLength": 1,
            "format": "uri",
            "title": "A publicly accessible URL that returns an audio file in mp3 or wav format"
          },
          "copyright_declaration": {
            "type": "boolean",
            "title": "Copyright declaration",
            "description": "\n            Setting this to true asserts that you agree to the following:\n            \n            I declare that I am the copyright owner of the material referenced; or have permission from the owner\n            to upload it. I confirm it does not infringe the rights of others and accept responsibility for any \n            claims arising from its use.\n        ",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "url"
        ],
        "title": "UrlSource"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "AdaptAddVoiceOverRequest": {
        "properties": {
          "audio": {
            "$ref": "#/components/schemas/AudioSource",
            "title": "The audio source the voice over will be added to"
          },
          "voice_over": {
            "$ref": "#/components/schemas/AudioSource",
            "title": "The audio source containing the voice over to be added"
          },
          "callback": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Callback"
              },
              {
                "type": "null"
              }
            ],
            "title": "Configuration for a callback that will be called when the computation is complete"
          }
        },
        "type": "object",
        "required": [
          "audio",
          "voice_over"
        ],
        "title": "AdaptAddVoiceOverRequest"
      },
      "AdaptAddVoiceOverResponse": {
        "properties": {
          "computation": {
            "$ref": "#/components/schemas/AudioComputation",
            "title": "A computation to track the generation of audio"
          }
        },
        "type": "object",
        "required": [
          "computation"
        ],
        "title": "AdaptAddVoiceOverResponse"
      },
      "AdaptAutoCutDownRequest": {
        "properties": {
          "audio": {
            "$ref": "#/components/schemas/AudioSource",
            "title": "The audio source to be separated"
          },
          "callback": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Callback"
              },
              {
                "type": "null"
              }
            ],
            "title": "Configuration for a callback that will be called when the computation is complete"
          },
          "idempotency_key": {
            "type": "string",
            "format": "uuid",
            "title": "A unique uuid to allow replaying the request if an unexpected failure occurs"
          },
          "target_duration": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "items": {
                  "type": "number"
                },
                "type": "array"
              }
            ],
            "title": "Target Duration"
          },
          "start_type": {
            "type": "string",
            "enum": [
              "any",
              "beginning"
            ],
            "title": "Whether the start of the cut can be anywhere in the audio or at the beginning",
            "default": "any"
          },
          "end_type": {
            "type": "string",
            "enum": [
              "smart",
              "fade"
            ],
            "title": "Whether the end of the cut should be faded out or a smart algorithm should be used to determine the end time",
            "default": "smart"
          }
        },
        "type": "object",
        "required": [
          "audio",
          "idempotency_key",
          "target_duration"
        ],
        "title": "AdaptAutoCutDownRequest"
      },
      "AdaptAutoCutDownResponse": {
        "properties": {
          "computation": {
            "$ref": "#/components/schemas/AudioComputation",
            "title": "A computation to track the generation of audio"
          }
        },
        "type": "object",
        "required": [
          "computation"
        ],
        "title": "AdaptAutoCutDownResponse"
      },
      "AdaptCutDownRequest": {
        "properties": {
          "audio": {
            "$ref": "#/components/schemas/AudioSource",
            "title": "The audio source to be separated"
          },
          "callback": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Callback"
              },
              {
                "type": "null"
              }
            ],
            "title": "Configuration for a callback that will be called when the computation is complete"
          },
          "start": {
            "type": "number",
            "title": "The start time of the cut"
          },
          "end": {
            "type": "number",
            "title": "The end time of the cut"
          },
          "fade_start": {
            "type": "boolean",
            "title": "Whether to fade in",
            "default": false
          },
          "fade_end": {
            "type": "boolean",
            "title": "Whether to fade out",
            "default": false
          },
          "level_automation_points": {
            "items": {
              "$ref": "#/components/schemas/LevelAutomationPoint"
            },
            "type": "array",
            "title": "The level automation points to apply to the cut"
          }
        },
        "type": "object",
        "required": [
          "audio",
          "start",
          "end"
        ],
        "title": "AdaptCutDownRequest"
      },
      "AdaptCutDownResponse": {
        "properties": {
          "computation": {
            "$ref": "#/components/schemas/AudioComputation",
            "title": "A computation to track the generation of audio"
          }
        },
        "type": "object",
        "required": [
          "computation"
        ],
        "title": "AdaptCutDownResponse"
      },
      "AdaptSeparateStemsRequest": {
        "properties": {
          "audio": {
            "$ref": "#/components/schemas/AudioSource",
            "title": "The audio source to be separated"
          },
          "callback": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Callback"
              },
              {
                "type": "null"
              }
            ],
            "title": "Configuration for a callback that will be called when the computation is complete"
          }
        },
        "type": "object",
        "required": [
          "audio"
        ],
        "title": "AdaptSeparateStemsRequest"
      },
      "AdaptSeparateStemsResponse": {
        "properties": {
          "computation": {
            "$ref": "#/components/schemas/AudioComputation",
            "title": "A computation to track the generation of audio"
          }
        },
        "type": "object",
        "required": [
          "computation"
        ],
        "title": "AdaptSeparateStemsResponse"
      },
      "AnalyseComputeKeywordSimilaritiesRequest": {
        "properties": {
          "audio": {
            "$ref": "#/components/schemas/AudioSource",
            "title": "The audio source to compute keyword similarities for"
          },
          "callback": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Callback"
              },
              {
                "type": "null"
              }
            ],
            "title": "Configuration for a callback that will be called when the computation is complete"
          },
          "keywords": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "The keywords to analyze"
          },
          "comparison_type": {
            "type": "string",
            "enum": [
              "music",
              "drums",
              "fx"
            ],
            "title": "The type of comparison to perform"
          }
        },
        "type": "object",
        "required": [
          "audio",
          "keywords",
          "comparison_type"
        ],
        "title": "AnalyseComputeKeywordSimilaritiesRequest"
      },
      "AnalyseComputeKeywordSimilaritiesResponse": {
        "properties": {
          "computation": {
            "$ref": "#/components/schemas/KeywordSimilaritiesComputation",
            "title": "A computation to track the keyword similarity computation"
          }
        },
        "type": "object",
        "required": [
          "computation"
        ],
        "title": "AnalyseComputeKeywordSimilaritiesResponse"
      },
      "AnalyseComputeMetadataRequest": {
        "properties": {
          "audio": {
            "$ref": "#/components/schemas/AudioSource",
            "title": "The audio source to compute metadata for"
          },
          "callback": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Callback"
              },
              {
                "type": "null"
              }
            ],
            "title": "Configuration for a callback that will be called when the computation is complete"
          }
        },
        "type": "object",
        "required": [
          "audio"
        ],
        "title": "AnalyseComputeMetadataRequest"
      },
      "AnalyseComputeMetadataResponse": {
        "properties": {
          "computation": {
            "$ref": "#/components/schemas/AudioMetadataComputation"
          }
        },
        "type": "object",
        "required": [
          "computation"
        ],
        "title": "AnalyseComputeMetadataResponse"
      },
      "AssetsUploadAudioRequest": {
        "properties": {
          "copyright_declaration": {
            "type": "boolean",
            "title": "Copyright declaration",
            "description": "\n            Setting this to true asserts that you agree to the following:\n            \n            I declare that I am the copyright owner of the material referenced; or have permission from the owner\n            to upload it. I confirm it does not infringe the rights of others and accept responsibility for any \n            claims arising from its use.\n        ",
            "default": false
          },
          "idempotency_key": {
            "type": "string",
            "format": "uuid",
            "title": "A unique uuid to allow replaying the request if an unexpected failure occurs"
          }
        },
        "type": "object",
        "required": [
          "idempotency_key"
        ],
        "title": "AssetsUploadAudioRequest"
      },
      "AssetsUploadAudioResponse": {
        "properties": {
          "asset_id": {
            "type": "string",
            "format": "uuid",
            "title": "The ID of the uploaded asset"
          }
        },
        "type": "object",
        "required": [
          "asset_id"
        ],
        "title": "AssetsUploadAudioResponse"
      },
      "ComputationsGetComputationResponse": {
        "properties": {
          "computation": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AudioComputation"
              },
              {
                "$ref": "#/components/schemas/MidiComputation"
              },
              {
                "$ref": "#/components/schemas/KeywordSimilaritiesComputation"
              }
            ],
            "title": "Computation"
          }
        },
        "type": "object",
        "required": [
          "computation"
        ],
        "title": "ComputationsGetComputationResponse"
      },
      "CreateNewFxRequest": {
        "properties": {
          "idempotency_key": {
            "type": "string",
            "format": "uuid",
            "title": "A unique uuid to allow replaying the request if an unexpected failure occurs"
          },
          "callback": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Callback"
              },
              {
                "type": "null"
              }
            ],
            "title": "Configuration for a callback that will be called when the computation is complete"
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "title": "Prompt"
          },
          "duration": {
            "type": "number",
            "maximum": 30,
            "minimum": 0.5,
            "title": "Duration"
          },
          "loopable": {
            "type": "boolean",
            "title": "Whether the generated sample should be able to be looped",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "idempotency_key",
          "prompt",
          "duration"
        ],
        "title": "CreateNewFxRequest"
      },
      "CreateNewFxResponse": {
        "properties": {
          "computation": {
            "$ref": "#/components/schemas/AudioComputation",
            "title": "A computation to track the generation of audio"
          }
        },
        "type": "object",
        "required": [
          "computation"
        ],
        "title": "CreateNewFxResponse"
      },
      "CreateNewInstrumentalPromptRequest": {
        "properties": {
          "idempotency_key": {
            "type": "string",
            "format": "uuid",
            "title": "A unique uuid to allow replaying the request if an unexpected failure occurs"
          },
          "callback": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Callback"
              },
              {
                "type": "null"
              }
            ],
            "title": "Configuration for a callback that will be called when the computation is complete"
          },
          "prompt": {
            "type": "string",
            "maxLength": 1024,
            "minLength": 1,
            "title": "Prompt"
          }
        },
        "type": "object",
        "required": [
          "idempotency_key",
          "prompt"
        ],
        "title": "CreateNewInstrumentalPromptRequest"
      },
      "CreateNewInstrumentalReferenceRequest": {
        "properties": {
          "idempotency_key": {
            "type": "string",
            "format": "uuid",
            "title": "A unique uuid to allow replaying the request if an unexpected failure occurs"
          },
          "callback": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Callback"
              },
              {
                "type": "null"
              }
            ],
            "title": "Configuration for a callback that will be called when the computation is complete"
          },
          "reference": {
            "$ref": "#/components/schemas/AudioSource",
            "title": "The audio source to be used as a reference for the synthesis"
          }
        },
        "type": "object",
        "required": [
          "idempotency_key",
          "reference"
        ],
        "title": "CreateNewInstrumentalReferenceRequest"
      },
      "CreateNewInstrumentalRequest": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/CreateNewInstrumentalReferenceRequest"
          },
          {
            "$ref": "#/components/schemas/CreateNewInstrumentalPromptRequest"
          }
        ],
        "title": "CreateNewInstrumentalRequest"
      },
      "CreateNewInstrumentalResponse": {
        "properties": {
          "computation": {
            "$ref": "#/components/schemas/AudioComputation",
            "title": "A computation to track the generation of audio"
          }
        },
        "type": "object",
        "required": [
          "computation"
        ],
        "title": "CreateNewInstrumentalResponse"
      },
      "CreateNewMelodyPromptRequest": {
        "properties": {
          "idempotency_key": {
            "type": "string",
            "format": "uuid",
            "title": "A unique uuid to allow replaying the request if an unexpected failure occurs"
          },
          "callback": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Callback"
              },
              {
                "type": "null"
              }
            ],
            "title": "Configuration for a callback that will be called when the computation is complete"
          },
          "prompt": {
            "type": "string",
            "maxLength": 1024,
            "minLength": 1,
            "title": "Prompt"
          }
        },
        "type": "object",
        "required": [
          "idempotency_key",
          "prompt"
        ],
        "title": "CreateNewMelodyPromptRequest"
      },
      "CreateNewMelodyReferenceRequest": {
        "properties": {
          "idempotency_key": {
            "type": "string",
            "format": "uuid",
            "title": "A unique uuid to allow replaying the request if an unexpected failure occurs"
          },
          "callback": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Callback"
              },
              {
                "type": "null"
              }
            ],
            "title": "Configuration for a callback that will be called when the computation is complete"
          },
          "reference": {
            "$ref": "#/components/schemas/AudioSource",
            "title": "The audio source to be used as a reference for the synthesis"
          }
        },
        "type": "object",
        "required": [
          "idempotency_key",
          "reference"
        ],
        "title": "CreateNewMelodyReferenceRequest"
      },
      "CreateNewMelodyRequest": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/CreateNewMelodyReferenceRequest"
          },
          {
            "$ref": "#/components/schemas/CreateNewMelodyPromptRequest"
          }
        ],
        "title": "CreateNewMelodyRequest"
      },
      "CreateNewMelodyResponse": {
        "properties": {
          "computation": {
            "$ref": "#/components/schemas/AudioComputation",
            "title": "A computation to track the generation of audio"
          }
        },
        "type": "object",
        "required": [
          "computation"
        ],
        "title": "CreateNewMelodyResponse"
      },
      "CreateNewMidiSongRequest": {
        "properties": {
          "idempotency_key": {
            "type": "string",
            "format": "uuid",
            "title": "A unique uuid to allow replaying the request if an unexpected failure occurs"
          },
          "callback": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Callback"
              },
              {
                "type": "null"
              }
            ],
            "title": "Configuration for a callback that will be called when the computation is complete"
          },
          "prompt": {
            "type": "string",
            "maxLength": 1024,
            "minLength": 1,
            "title": "Prompt"
          }
        },
        "type": "object",
        "required": [
          "idempotency_key",
          "prompt"
        ],
        "title": "CreateNewMidiSongRequest"
      },
      "CreateNewMidiSongResponse": {
        "properties": {
          "computation": {
            "$ref": "#/components/schemas/MidiComputation",
            "title": "A computation to track the generation of midi"
          }
        },
        "type": "object",
        "required": [
          "computation"
        ],
        "title": "CreateNewMidiSongResponse"
      },
      "CreateNewSampleRequest": {
        "properties": {
          "idempotency_key": {
            "type": "string",
            "format": "uuid",
            "title": "A unique uuid to allow replaying the request if an unexpected failure occurs"
          },
          "callback": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Callback"
              },
              {
                "type": "null"
              }
            ],
            "title": "Configuration for a callback that will be called when the computation is complete"
          },
          "prompt": {
            "type": "string",
            "maxLength": 4000,
            "minLength": 1,
            "title": "Prompt"
          },
          "bpm": {
            "type": "integer",
            "maximum": 200,
            "minimum": 60,
            "title": "Bpm"
          },
          "duration": {
            "type": "number",
            "maximum": 32,
            "minimum": 3,
            "title": "Duration"
          }
        },
        "type": "object",
        "required": [
          "idempotency_key",
          "prompt",
          "bpm",
          "duration"
        ],
        "title": "CreateNewSampleRequest"
      },
      "CreateNewSampleResponse": {
        "properties": {
          "computation": {
            "$ref": "#/components/schemas/AudioComputation",
            "title": "A computation to track the generation of audio"
          }
        },
        "type": "object",
        "required": [
          "computation"
        ],
        "title": "CreateNewSampleResponse"
      },
      "CreateNewSongPromptRequest": {
        "properties": {
          "idempotency_key": {
            "type": "string",
            "format": "uuid",
            "title": "A unique uuid to allow replaying the request if an unexpected failure occurs"
          },
          "callback": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Callback"
              },
              {
                "type": "null"
              }
            ],
            "title": "Configuration for a callback that will be called when the computation is complete"
          },
          "lyrics": {
            "type": "string",
            "maxLength": 3000,
            "minLength": 1,
            "title": "Lyrics"
          },
          "prompt": {
            "type": "string",
            "maxLength": 1024,
            "minLength": 1,
            "title": "Prompt"
          }
        },
        "type": "object",
        "required": [
          "idempotency_key",
          "lyrics",
          "prompt"
        ],
        "title": "CreateNewSongPromptRequest"
      },
      "CreateNewSongReferenceRequest": {
        "properties": {
          "idempotency_key": {
            "type": "string",
            "format": "uuid",
            "title": "A unique uuid to allow replaying the request if an unexpected failure occurs"
          },
          "callback": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Callback"
              },
              {
                "type": "null"
              }
            ],
            "title": "Configuration for a callback that will be called when the computation is complete"
          },
          "lyrics": {
            "type": "string",
            "maxLength": 3000,
            "minLength": 1,
            "title": "Lyrics"
          },
          "reference": {
            "$ref": "#/components/schemas/AudioSource",
            "title": "The audio source to be used as a reference for the synthesis"
          }
        },
        "type": "object",
        "required": [
          "idempotency_key",
          "lyrics",
          "reference"
        ],
        "title": "CreateNewSongReferenceRequest"
      },
      "CreateNewSongRequest": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/CreateNewSongReferenceRequest"
          },
          {
            "$ref": "#/components/schemas/CreateNewSongPromptRequest"
          }
        ],
        "title": "CreateNewSongRequest"
      },
      "CreateNewSongResponse": {
        "properties": {
          "computation": {
            "$ref": "#/components/schemas/AudioComputation",
            "title": "A computation to track the generation of audio"
          }
        },
        "type": "object",
        "required": [
          "computation"
        ],
        "title": "CreateNewSongResponse"
      },
      "Body_assets.upload_audio": {
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "title": "File",
            "description": "Audio file to upload (supported formats: wav, mp3, flac)"
          },
          "request": {
            "$ref": "#/components/schemas/AssetsUploadAudioRequest"
          }
        },
        "type": "object",
        "required": [
          "file",
          "request"
        ],
        "title": "Body_assets.upload_audio"
      }
    }
  }
}
